@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

/* dot */
.dot-contain {
  position: fixed;
  height: 100vh;
  width: 30px;
  left: 0;
  top: calc(100vh - 58vh);
  z-index: 3;
}

.dot-contain .dot {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  margin: 10px 0 10px 30px;
}

/* main */
.main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.main .container .bg-img {
  display: none;
}

.main .container {
  position: inherit;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main .container .text-wrap {
  position: absolute;
  top: calc(100vh - 58vh);
  right: 200px;
  text-align: right;
}

.main .container .text-wrap .sub_title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
}

.main .container .text-wrap .main_title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 63px;
  color: white;
  margin-bottom: 10px;
}

.main .container .text-wrap .main_sub {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: white;
}

/* how */
.how {
  background-color: #eeeeee;
}

.how .how-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 0 auto;
  text-align: center;
}

.how .how-container .text-wrap h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 50px;
  margin-bottom: 45px;
}
.how .how-container .text-wrap p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.how .how-container .text-wrap > p {
  margin-bottom: 10px;
}
.how .how-container .hicon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.how .how-container .hicon img {
  width: 250px;
  height: 250px;
}

/* printmethod */
.printmethod {
  width: 100vw;
  height: 80vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.printmethod .printer-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fdm-wrap {
  margin-right: 30px;
}

.fdm-wrap h2,
.sla-wrap h2 {
  margin: 25px 0;
  font-size: 32px;
}

.fdm-wrap p,
.sla-wrap p {
  font-size: 16px;
}

.sla-wrap {
  margin-left: 30px;
}

.line {
  width: 100vw;
  height: 10px;
  background-color: #c4c4c4;
}

/* process */
.process {
  position: relative;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}

.process .braket {
  margin: 0 5vw;
  font-size: 40px;
}

.process [class*="wraps"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.process [class*="wraps"] span {
  font-size: 32px;
  font-weight: bold;
}

.circle {
  width: 15vw;
  height: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4c4c4;
  border-radius: 50%;
  margin-bottom: 60px;
  transition: 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .circle:hover {
  filter: brightness(50%);
} */

.circle .fi {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.circle .fi.fi-active {
  display: block;
}

.circle .bt {
  position: absolute;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  background-color: rgba(185, 185, 185, 0);
  padding: 4% 12%;
  color: white;
  cursor: pointer;
  display: none;
}

.circle .bt.bt-active {
  display: block;
}
.circle .fi2 {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.circle .fi2.fi-active {
  display: block;
}

.circle .bt2 {
  position: absolute;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  background-color: rgba(185, 185, 185, 0);
  padding: 4% 12%;
  color: white;
  cursor: pointer;
  display: none;
}

.circle .bt2.bt-active {
  display: block;
}
.circle .fi3 {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.circle .fi3.fi-active {
  display: block;
}

.circle .bt3 {
  position: absolute;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  background-color: rgba(185, 185, 185, 0);
  padding: 4% 12%;
  color: white;
  cursor: pointer;
  display: none;
}

.circle .bt3.bt-active {
  display: block;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 80vh;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal .filter {
  position: relative;
  width: 100vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal .modalbox-wrap {
  position: absolute;
  width: 80vw;
  height: 70vh;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

[id*="out-modal"] {
  position: absolute;
  top: 40px;
  right: 80px;
  font-size: 48px;
  cursor: pointer;
}

.active {
  display: flex;
}

.imgbox {
  max-width: 40vh;
  min-width: 30vh;
  max-height: 40vh;
  min-height: 30vh;
  width: 30vw;
  height: 30vw;
}

.imgbox .bg-box {
  position: relative;
  max-width: 40vh;
  max-height: 40vh;
  min-width: 30vh;
  min-height: 30vh;
  width: 30vw;
  height: 30vw;
  background-color: lightgrey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal .modalbox-wrap .text-wrap {
  margin-right: 100px;
  width: 400px;
}

.modal .modalbox-wrap .text-wrap h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.modal .modalbox-wrap .text-wrap span {
  font-size: 18px;
  margin-bottom: 30px;
}

.mo-modalbox-wrap {
  display: none;
}

/* recommend */
.recommend {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reco-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reco-wrap .img {
  /* background-color: lightgray; */
  width: 20vw;
  height: 20vw;
  border-radius: 25px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  /* border: 1px solid rgb(169, 169, 169); */
}

.part2,
.part3 {
  margin-left: 100px;
}

.part1,
.part2,
.part3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.part1 h2,
.part2 h2,
.part3 h2 {
  font-size: 32px;
  margin-top: 30px;
}

.part1 span,
.part2 span,
.part3 span {
  max-width: 300px;
  min-width: 500px;
}

.part1 .img {
  background-image: url("../asset/images/e3.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transform: scale(1);
  transition: 0.5s;
}
.part1 .img:hover {
  transform: scale(1.1);
}

.part2 .img {
  background-image: url("../asset/images/e5.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transform: scale(1);
  transition: 0.5s;
}
.part2 .img:hover {
  transform: scale(1.1);
}

.part3 .img {
  background-image: url("../asset/images/e7.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transform: scale(1);
  transition: 0.5s;
}
.part3 .img:hover {
  transform: scale(1.1);
}

.reco-modal {
  position: absolute;
  width: 100vw;
  height: 80vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.reco-modal .reco-filter {
  position: relative;
  width: 100vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.reco-modal .modalbox-wrap {
  position: absolute;
  width: 80vw;
  height: 70vh;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.reco-modal .modalbox-wrap .text-wrap {
  margin-left: 100px;
  width: 400px;
}

.reco-modal .modalbox-wrap .text-wrap h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.reco-modal .modalbox-wrap .text-wrap table {
  margin-bottom: 30px;
}

.reco-modal .modalbox-wrap .text-wrap table tr td {
  font-size: 18px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.reco-modal .modalbox-wrap .text-wrap table tr .t1 {
  font-weight: 700;
}

.reco-active {
  display: flex;
}

/* footer */
footer {
  width: 100vw;
  height: 180px;
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer span {
  margin: 10px 0;
  font-size: 16px;
  color: white;
}

/* media!!!!! */
@media screen and (max-width: 1420px) {
  .circle {
    width: 20vw;
    height: 20vw;
    margin-bottom: 50px;
  }
  .circle .fi {
    width: 20vw;
    height: 20vw;
  }
  .circle .fi2 {
    width: 20vw;
    height: 20vw;
  }
  .circle .fi3 {
    width: 20vw;
    height: 20vw;
  }
}

@media screen and (max-width: 1280px) {
  .circle {
    width: 22vw;
    height: 22vw;
    margin-bottom: 40px;
  }

  .circle .fi {
    width: 22vw;
    height: 22vw;
  }
  .circle .bt {
    position: absolute;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(185, 185, 185, 0);
    padding: 4% 12%;
    color: white;
    cursor: pointer;
    display: none;
  }
  .circle .fi2 {
    width: 22vw;
    height: 22vw;
  }

  .circle .bt2 {
    position: absolute;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(185, 185, 185, 0);
    padding: 4% 12%;
    color: white;
    cursor: pointer;
    display: none;
  }
  .circle .fi3 {
    width: 22vw;
    height: 22vw;
  }
  .circle .bt3 {
    position: absolute;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(185, 185, 185, 0);
    padding: 4% 12%;
    color: white;
    cursor: pointer;
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .main .container .text-wrap {
    text-align: center;
  }

  .dot-contain {
    display: none;
  }
  .main .container .bg-img {
    width: 100vw;
    height: 100vh;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .main .container .video {
    display: none;
  }

  .printmethod {
    width: 100vw;
    height: 100vh;
  }

  .printmethod .printer-wrap {
    flex-direction: column;
  }

  .fdm-wrap {
    margin-right: 0;
  }

  .sla-wrap {
    margin-left: 0;
    margin-top: 60px;
  }

  .fdm-wrap img,
  .sla-wrap img {
    width: 25vw;
  }

  .fdm-wrap h2,
  .sla-wrap h2 {
    font-size: 24px;
  }

  .fdm-wrap p,
  .sla-wrap p {
    font-size: 18px;
  }

  .process {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .process .braket {
    margin: 20px 0;
    transform: rotate(90deg);
  }

  .process [class*="wraps"] span {
    font-size: 24px;
    font-weight: bold;
  }

  .circle {
    width: 22vw;
    height: 22vw;
    margin-bottom: 20px;
  }

  .circle .fi {
    width: 22vw;
    height: 22vw;
  }
  .circle .bt {
    position: absolute;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(185, 185, 185, 0);
    padding: 4% 12%;
    color: white;
    cursor: pointer;
    display: none;
  }
  .circle .fi2 {
    width: 22vw;
    height: 22vw;
  }

  .circle .bt2 {
    position: absolute;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(185, 185, 185, 0);
    padding: 4% 12%;
    color: white;
    cursor: pointer;
    display: none;
  }
  .circle .fi3 {
    width: 22vw;
    height: 22vw;
  }
  .circle .bt3 {
    position: absolute;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(185, 185, 185, 0);
    padding: 4% 12%;
    color: white;
    cursor: pointer;
    display: none;
  }

  .modal {
    height: 100vh;
  }

  .modal .filter {
    position: relative;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .modal .modalbox-wrap {
    display: none;
  }

  .mo-modalbox-wrap {
    position: absolute;
    width: 80vw;
    height: 70vh;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
  }

  .modal .mo-modalbox-wrap .text-wrap {
    text-align: center;
    margin-top: 50px;
    width: 400px;
  }

  .modal .mo-modalbox-wrap .text-wrap h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .modal .mo-modalbox-wrap .text-wrap span {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .reco-wrap {
    flex-direction: column;
  }

  .part1 h2,
  .part2 h2,
  .part3 h2 {
    font-size: 24px;
    margin-top: 30px;
  }

  .part2,
  .part3 {
    margin-left: 0px;
    margin-top: 50px;
  }

  .recommend {
    height: 100vh;
  }

  .reco-wrap .img {
    width: 22vw;
    height: 22vw;
  }

  .reco-modal {
    height: 100vh;
    z-index: 10;
  }

  .reco-modal .reco-filter {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .reco-modal .modalbox-wrap {
    flex-direction: column;
  }

  .reco-modal .modalbox-wrap .text-wrap {
    margin-left: 0px;
    margin-top: 50px;
    width: 400px;
    text-align: center;
  }

  .reco-modal .modalbox-wrap .text-wrap h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .reco-modal .modalbox-wrap .text-wrap table {
    margin-bottom: 0px;
    display: none;
  }
}
