@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}

/* dot */
.dot-contain {
  position: fixed;
  height: 100vh;
  width: 30px;
  left: 0;
  top: calc(100vh - 58vh);
  z-index: 3;
}

.dot-contain .dot {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  margin: 10px 0 10px 30px;
}

/* main */
.main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.main .container {
  position: inherit;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main .container .bg-img {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}



.main .container .text-wrap {
  position: absolute;
  top: calc(100vh - 58vh);
  right: 200px;
  text-align: right;
}
.main .container .text-wrap .sub_title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
}

.main .container .text-wrap .main_title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 63px;
  color: white;
  margin-bottom: 10px;
}

.main .container .text-wrap .main_sub {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: white;
}

/* how */
.how {
  background-color: #eeeeee;
}

.how .how-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1520px;
  height: 80vh;
  margin: 0 auto;
  text-align: center;
}

/* .how .how-container .text-wrap {

} */
.how .how-container .text-wrap h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 45px;
}
.how .how-container .text-wrap p {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.how .how-container .text-wrap > p {
  margin-bottom: 30px;
}
.how .how-container .hicon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.how .how-container .hicon img {
  width: 150px;
  height: 150px;
}

/* printmethod */
.printmethod {
  background-color: white;
}

.printmethod .printmethod-container {
  width: 1520px;
  margin: 0 auto;
}

.printmethod .printmethod-container .fdm-wrap {
  margin-top: 10vh;
  /* height: 40vh; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.printmethod .printmethod-container .fdm-wrap .fimg {
  margin-left: 128px;
}
.printmethod .printmethod-container .fdm-wrap .fimg .box {
  width: 350px;
  height: 350px;
  background-color: #c4c4c4;
}
.printmethod .printmethod-container .fdm-wrap .text-wrap {
  margin-left: 100px;
}

.printmethod .printmethod-container .sla-wrap {
  margin-top: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10vh;
}
.printmethod .printmethod-container .sla-wrap .simg {
  margin-right: 128px;
}
.printmethod .printmethod-container .sla-wrap .simg .box {
  width: 350px;
  height: 350px;
  background-color: #c4c4c4;
}
.printmethod .printmethod-container .sla-wrap .text-wrap {
  margin-right: 100px;
  text-align: right;
}
.printmethod h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 36px;
}
.printmethod p {
  font-style: normal;
  /* font-weight: 700; */
  font-size: 20px;
  line-height: 20px;
}

.printmethod p:nth-child(2) {
  margin-bottom: 10px;
}
.printmethod p:nth-child(3) {
  margin-bottom: 30px;
}
/* .printmethod .fdm-wrap .text-wrap h2{
  margin-right: 128px;
} */

.process {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}

.process .braket {
  margin: 0 100px;
  font-size: 40px;
}

.process [class*="wrap"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 10vh;
  margin-bottom: 10vh; */
}

.process [class*="wrap"] span{
  font-size: 32px;
  font-weight: bold;
}

.circle {
  width: 260px;
  height: 260px;
  background-color: #c4c4c4;
  border-radius: 50%;
  margin-bottom: 60px;
  transition: 0.5s;
}

.circle:hover {
  filter: brightness(50%);
}
